@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

.nunito-sans-300 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.nunito-sans-600 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.nunito-sans-800 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
body {
  display: grid;
  min-height: 100vh;
  min-height: 100svh;
  grid-template-rows: max-content;
}
header {
  display: flex;
  height: max-content;
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  /* grid-row: 1; */
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;

  grid-template-rows: max-content;

  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}

.select-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* height: max-content; */
  /* grid-row: 2; */
}
.countries {
  display: grid;
  min-height: 100%;
  gap: 2rem;
  align-content: center;
  justify-items: center;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));

  grid-template-rows: max-content;
  /* grid-template: repeat(auto-fit, 1fr) / repeat(4, 1fr); */
  /* grid-auto-flow: column dense; */

  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}
.country-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  /* inline-size: 15rem; */
  max-inline-size: 20rem;
  box-shadow: 0px 12px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.5);
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  & img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
.dark-mode-btn {
  display: flex;
  height: max-content;
}

.search-container {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* height: max-content; */
  align-items: center;
  & > svg {
    width: 2rem;
  }

  & input {
    width: 100%;
    max-inline-size: 30rem;
  }
}
