@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

.nunito-sans-300 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.nunito-sans-600 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.nunito-sans-800 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
body {
  display: grid;
  min-height: 100vh;
  min-height: 100svh;
  grid-template-rows: max-content;
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  gap: 1.3rem;
}
header {
  z-index: 1;
  display: flex;
  height: max-content;
  justify-content: space-between;
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  position: sticky;
  top: 0;
  padding-inline: 0.6rem;
  padding-block: 2rem 1.7rem;
  /* padding: 3rem; */
  box-shadow: 0px 0px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.5);

  & h1 {
    font-size: 0.87rem;
  }

  & button {
    display: flex;
    gap: 0.5rem;
    /* inline-size: 5rem; */

    & svg {
      inline-size: 0.9rem;
    }
    & span {
      font-size: 0.75rem;
      text-wrap: nowrap;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-inline: 1rem;
  /* position: absolute; */

  /* grid-template-rows: max-content; */

  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}

.select-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.7rem;
  /* position: sticky; */
  /* top: 6rem; */
  /* height: max-content; */
  /* grid-row: 2; */
}
.back-btn {
  display: flex;
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  box-shadow: 0px 0px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.5);
  gap: 0.5rem;
  padding-inline: 1.3rem;
  padding-block: 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  & svg {
    width: 1.2rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.borders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-desc {
  display: flex;
  flex-direction: column;
  padding-block: 1.5rem 3rem;
  padding-inline: 1.5rem;

  gap: 0.3rem;
  & h2 {
    font-size: 1.1rem;
    margin-block-end: 0.6rem;
  }
  & p {
    font-size: 0.85rem;
  }
}
.countries {
  display: grid;
  min-height: 100%;
  gap: 2rem;
  align-content: center;
  justify-items: center;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));

  grid-template-rows: max-content;
  /* grid-template: repeat(auto-fit, 1fr) / repeat(4, 1fr); */
  /* grid-auto-flow: column dense; */

  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}
.country-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  inline-size: 16.5rem;
  max-inline-size: 20rem;
  box-shadow: 0px 12px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.5);
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  & img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  & :hover {
    cursor: pointer;
  }
}

.country-detail {
  padding-block: 1.1rem;
  padding-inline: 0.3rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.country-detail-section {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 2.6rem;

  & img {
    flex: 1;
    /* min-width: 20rem; */
    /* max-height: 14.49rem; */
    aspect-ratio: 1.38;
    /* object-fit: contain; */
    /* margin-inline: auto; */
    /* justify-self: center; */
  }
}
.dark-mode-btn {
  display: flex;
  height: max-content;
}

.detail-borders {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  font-size: 0.75rem;
  & button {
    border-radius: 0.2rem;
    padding-inline: 1.5rem;
    /* width: 6.5rem; */
    padding-block: 0.3rem;
    background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    box-shadow: 0px 0px 15px 0px
      hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.1);
    /* background-color: red; */

    &:hover {
      cursor: pointer;
    }
  }
}

.fields {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 2.65rem;
  font-size: 0.87rem;

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  & h1 {
    font-size: 1.3rem;
  }
}
.flag-img {
  /* aspect-ratio: 1; */
  /* object-fit: cover; */
  height: 10rem;
  /* height: 100%; */
}

.search-container {
  display: flex;
  width: 100%;
  border-radius: 0.2rem;
  padding-block: 1rem 0.8rem;
  padding-inline: 1.5rem 0rem;
  gap: 1.7rem;
  max-inline-size: 30rem;
  /* margin-inline: 1rem; */
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  box-shadow: 0px 0px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.1);

  align-items: center;
  & > svg {
    width: 1.3rem;

    & > path {
      stroke: var(--Dark-Gray-Light-Mode-Input);
      stroke-width: 3rem;
    }
  }

  & input {
    all: unset;
    /* width: 100%; */
    /* flex-grow: 1; */
    font-size: 0.75rem;
    width: 100%;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.select-selected {
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  color: var(--Very-Dark-Blue-Light-Mode-Text);

  display: flex;
  font-size: 0.75rem;
  gap: 3.8rem;
  border-radius: 0.5rem;
  padding-inline: 0.95rem;
  padding-block: 1rem;
  cursor: pointer;

  box-shadow: 0px 12px 15px 0px
    hsl(from var(--Dark-Blue-Dark-Mode-Elements) h s l / 0.1);
  & svg {
    width: 0.8rem;

    & path {
      stroke-width: 4rem;
    }
  }
}

/* Style the dropdown items */
.select-items {
  position: absolute;
  display: none;
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  padding-block: 1rem;
  margin-block-start: 0.3rem;
}

/* Style the dropdown items */
.select-items div {
  /* padding: 10px; */
  padding-inline: 1rem;
  padding-block: 0.3rem;
  /* margin-block-start: 3rem; */
  cursor: pointer;
}

/* Style the dropdown items on hover */
.select-items div:hover {
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}

@media (min-width: 30rem) {
}
